<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICqrsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:11998/CqrsService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICqrsService" contract="CqrsServiceReference.ICqrsService"
                name="BasicHttpBinding_ICqrsService" />
        </client>
    </system.serviceModel>
</configuration>