<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="EventStore" version="3.2.0.28" targetFramework="net40" />
  <package id="EventStore.Persistence.MongoPersistence" version="3.2.0.28" targetFramework="net40" />
  <package id="EventStore.Serialization.Json" version="3.2.0.28" targetFramework="net40" />
  <package id="mongocsharpdriver" version="1.8.1" targetFramework="net40" />
  <package id="Rhino.ServiceBus" version="3.1.1.0" targetFramework="net40" />
  <package id="Rhino.ServiceBus.Unity" version="3.1.1.0" targetFramework="net40" />
  <package id="Simple.Data.Core" version="0.18.3.1" targetFramework="net40" />
  <package id="SimpleCqrs" version="1.0" targetFramework="net40" />
  <package id="SimpleCqrs.EventStore.MongoDb" version="1.0" targetFramework="net40" />
  <package id="SimpleCqrs.Unity" version="1.0" targetFramework="net40" />
  <package id="Unity" version="2.1.505.2" targetFramework="net40" />
  <package id="Unity.Interception" version="2.1.505.2" targetFramework="net40" />
</packages>